.body {
    background-color: black;
    font-weight: light;
    font-family: 'Questrial', sans-serif;
}

/* NAVBAR STYLING */
.navbar {
    background-color: white;
    padding: 1% 15%;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 1.2rem;
    color: whitesmoke;
}
.container-nav{
    padding: 1.5% 15%;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    font-size: 1rem;
}

/* FOOTER STYLING */
.footer {
    padding: 5% 15%;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    background-color: rgb(11, 10, 10);

}

.footer-icon {
    margin: 0 10px;
}

.footer-text {
    color: whitesmoke;
    font-weight: lighter;
}

.footer-author {
    color: white;
}



/* MEDIA QUERY FOR RESPONSIVENESS */
@media only screen and (max-width: 800px) {
    .navbar {
        padding: 2% 3%;
    }
}

@media only screen and (max-width: 417px) {
    .tweetaddbtn {
        margin: 2% 35%;
    }
}

@media only screen and (max-width: 320px) {
    .tweetaddbtn {
        margin: 2% 30%;
    }
}