.new-tweet-container {
  margin: 5% 30%;
  background-color: rgb(17, 15, 15);
  border-radius: 10px;
  padding: 1% 1%;
}

.form-control {
  margin-bottom: 1.5%;
  background-color: whitesmoke;
  border: 1px solid rgb(42, 40, 40);
}




@media only screen and (max-width: 440px) {
  .new-tweet-container {
    margin: 5% 5%;
  }
}