.new-tweet-container {
  margin: 5% 30%;
}

.form-control {
  margin-bottom: 1.5%;
  background-color: black;
  border: 1px solid rgb(42, 40, 40);
}

.form-control::placeholder {
  /* color: rgb(42, 40, 40); */
  color: grey;
  /* Change to your desired placeholder color */
}

.form-control:focus {
  background-color: black;
  /* Change to your desired background color */
  color: white;
  /* Additional styles if needed */
}

@media only screen and (max-width: 440px) {
  .new-tweet-container {
    margin: 5% 5%;
  }
}